<!DOCTYPE html>
<html>
    <head>
        <title>Yelp Camp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid" >
                <div class="navbar-header">
                    <a href="/" class="navbar-brand">Yelp Camp</a>
                </div>
                <div class="collapse navbar-collapse">
                    <div class="nav navbar navbar-nav">
                        <li><a href="/campgrounds">Campgrounds</a></li>
                    </div>
                    <ul class="nav  navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li><a href="/login">login</a></li>
                            <li><a href="/register">Signup</a></li>
                        <% } else { %>
                            <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <% if(error && error.length >0){ %> 
            <div class="alert alert-danger" role="alert">
                <%= error %> 
            </div>
            <% } if(success && success.length >0){ %> 
            <div class="alert alert-success" role="alert">
                <%= success %> 
            </div>
            <% } %> 
        </div>
        