<% include partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header">
            <%= campgrounds.name %>
        </div>
        <div class="ui top attached">
            <div class="item">
                <img class="ui centered rounded image" src="<%= campgrounds.image %> ">
                <div class="description">
                    <p>
                        <%= campgrounds.description %>
                    </p>
                </div>
            </div>
        </div>
    </div>
<% include partials/footer %>